@import "../helpers/inheritance";
@import "../helpers/mixins";
@import "../helpers/variables";

.dark-mode {
  .tv-label {
    color: $color-text-dark;
  }
}

.light-mode {
  .tv-label {
      color: $color-text-light;
  }
}

.tv-label {
  @include borderRadius(100px);
  @include size(width, 50px, min);
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  padding: 4px 8px;
  text-align: center;
  text-transform: uppercase;

  & i.tv-label-icon {
    @include defaultIconSize(10px);
  }
}
