@import "../helpers/inheritance";
@import "../helpers/mixins";
@import "../helpers/variables";

.dark-mode {
  & .tv-btn {
    &-outlined {
      color: $color-background-button-dark;
      &:hover {
        @include backgroundColorAndTextColor($color-background-button-dark, $color-text-button-dark);
      }
    }
  }
}

.light-mode {
  & .tv-btn {
    &-outlined {
      color: $color-background-button-light;
      &:hover {
        @include backgroundColorAndTextColor($color-background-button-light, $color-text-button-light);
      }
    }
  }
}

.tv-btn {
  @include defaultButton();

  & i.tv-btn-icon {
    @extend %defaultIconBackground;
    @include defaultIconSize(18px);
  }

  &:hover {
    box-shadow: none;
  }

  &:active {
    @include backgroundColorAndBoxShadow(darken($color-background-button-dark, 15%), 0 0 5px $color-background-button-dark);
    transform: translateY(1px);
  }

  &.tv-btn-outlined {
    background-color: transparent;
    border: 2px solid $color-background-button-dark;
    font-weight: 600;

    &.tv-btn-success {
      @include backgroundColorAndTextColor(transparent, $color-background-button-success);
      border: 2px solid $color-background-button-success;

      &:hover {
        @include backgroundColorAndTextColor($color-background-button-success, $color-text-button-dark);
      }

      &.tv-btn-disabled {
        &:hover {
          color: $color-background-button-success;
        }
      }
    }

    &.tv-btn-disabled {
      &:hover {
        @include backgroundColorAndTextColor(transparent, $color-background-button-dark);
      }
    }
  }

  &.tv-btn-success {
    @include backgroundColorAndBoxShadow($color-background-button-success, 0 0 5px $color-background-button-success);

    &:hover {
      @include backgroundColorAndBoxShadow(darken($color-background-button-success, 10%), 0 0 5px darken($color-background-button-success, 10%));
    }
  }

  &.tv-btn-full {
    @include size(width, 100%);
  }

  &.tv-btn-rounded {
    @include borderRadius(10px);
  }

  &.tv-btn-small {
    @include buttonSize(80px, auto, 10px, 0.7rem 0.5rem);
  }

  &.tv-btn-large {
    @include buttonSize(180px, auto, 16px, 1rem 1.5rem);
  }

  &.tv-btn-text {
    @include buttonText(transparent, $color-background-button-dark);
  }

  &.tv-btn-disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.5;

    &:active {
      background-color: $color-background-button-dark;
      transform: none;
    }
  }

  &.tv-btn-error {
    @include typeButton($color-background-button-error, $color-text-button-light, $color-background-button-error);
  }

  &.tv-btn-warning {
    @include typeButton($color-background-button-warning, $color-text-button-light, $color-background-button-warning);
  }

  &.tv-btn-info {
    @include typeButton($color-background-button-info, $color-text-button-light, $color-background-button-info);
  }
}
