@import "../helpers/inheritance";
@import "../helpers/mixins";
@import "../helpers/variables";

.dark-mode {
  .tv-card {
    @include backgroundColorAndTextColor($color-background-card-dark, $color-text-dark);

    &-title {
      background: $color-background-card-dark;
    }
  }
}

.light-mode {
  .tv-card {
    @include backgroundColorAndTextColor($color-background-card-light, $color-text-light);

    &-title {
      background: $color-background-card-light;
    }
  }
}

.tv-card-body {
  @include size(width, 350px, max);
  align-items: center;
  background: transparent;
  display: flex;
  justify-content: center;
  margin: 20px 0;

  & .tv-card {
    @extend %alignCenterFlex;
    @include borderRadius(0 0 20px 20px);
    @include position(relative);
    @include size(width, 100%);
    flex-direction: column;
    margin-top: 30px;
    padding-top: 170px;

    &-image {
      @include position(absolute);
      @include size(height, 200px);
      overflow: hidden;
      top: -30px;

      & img {
        @include borderRadius(30px 30px 0 0);
        @include size(height, 100%);
        @include size(width, 100%);
        object-fit: cover;
        padding: 0 10px;
      }
    }

    &-content {
      @extend %alignCenterFlex;
      @include position(relative);
      flex-direction: column;
      margin-top: 30px;

      & .tv-card-title {
        @include borderRadius(30px 30px 0 0);
        @include position(absolute);
        @include size(width, 80%);
        font-weight: 600;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
        top: -50px;
      }

      & .tv-card-label {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        padding: 0 10px;
      }

      & .tv-card-description {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 20px;
        padding: 15px;
        text-align: center;
      }
    }

    & .tv-card-action {
      @include position(relative);
      @include size(width, 100%);
      bottom: 20px;
      display: flex;
      justify-content: center;

      & .tv-card-button {
        @include position(absolute);
      }
    }
  }
}
