%defaultIconBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%alignCenterFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
