%defaultIconBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%alignCenterFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

%widthHeightFull {
  width: 100%;
  height: 100%;
}

%widthFull {
  width: 100%;
}

%heightFull {
  height: 100%;
}
