@import "variables";

@mixin backgroundColorAndTextColor($background-color, $text-color) {
  background-color: $background-color;
  color: $text-color;
}

@mixin fontFamilyAndFontSize($font-family, $font-size) {
  font-family: $font-family;
  font-size: $font-size;
}

@mixin defaultButton() {
  @include backgroundColorAndTextColor($color-background-button-light, $color-text-button-light);
  @include size(width, auto, wmin, 110px);
  border: none;
  box-shadow: 0 0 5px $color-background-button-dark;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 0.8rem 1.2rem;
  transition: all 0.2s ease-in-out;
}

@mixin buttonSize($min-width, $width, $font-size, $padding) {
  @include size(width, $width, wmin, $min-width);
  font-size: $font-size;
  padding: $padding;
  white-space: nowrap;
}

@mixin defaultIcon($icon) {
  background-image: url($icon);
}

@mixin defaultIconSize($size) {
  @include size(full, $size);
}

@mixin buttonText($background, $color) {
  @include backgroundColorAndTextColor($background, $color);
  border: none;
  box-shadow: none;
}

@mixin backgroundColorAndBoxShadow($background-color, $box-shadow) {
  background-color: $background-color;
  box-shadow: $box-shadow;
}

@mixin typeButton($background-color, $color-text-button-light, $color-background) {
  @include backgroundColorAndTextColor($background-color, $color-text-button-light);
  box-shadow: 0 0 5px $background-color;

  &:hover {
    background-color: darken($background-color, 10%);
  }

  &:active {
    background-color: darken($background-color, 15%);
  }

  &.tv-btn-outlined {
    @include backgroundColorAndTextColor(transparent, $background-color);
    border: 2px solid $background-color;

    &:hover {
      @include backgroundColorAndTextColor($background-color, $color-text-button-light);
    }

    &.tv-btn-disabled {
      &:hover {
        @include backgroundColorAndTextColor(transparent, $background-color);
      }
    }
  }

  &.tv-btn-text {
    @include buttonText(transparent, $background-color);
  }
}

@mixin floatIcon($direction, $margin, $number) {
  float: $direction;
  margin-#{$margin}: $number;
}

@mixin position($position) {
  position: $position;
}

@mixin borderRadius($border-radius) {
  border-radius: $border-radius;
}

@mixin size($dimension, $size, $minmax: none, $sizeMin: none, $sizeMax: none) {
  @if $dimension == width {
    @if $minmax == min {
      min-width: $size;
    } @else if $minmax == wmin {
      width: $size;
      min-width: $sizeMin;
    } @else if $minmax == minmax {
      min-width: $size;
      max-width: $size;
    } @else if $minmax == max {
      max-width: $size;
    } @else if $minmax == wmax {
      width: $size;
      max-width: $sizeMax;
    } @else {
      width: $size;
    }
  } @else if $dimension == height {
    @if $minmax == min {
      min-height: $size;
    } @else if $minmax == hmin {
      height: $size;
      min-height: $sizeMin;
    } @else if $minmax == minmax {
      min-height: $size;
      max-height: $size;
    } @else if $minmax == max {
      max-height: $size;
    } @else if $minmax == hmax {
      height: $size;
      max-height: $sizeMax;
    } @else {
      height: $size;
    }
  } @else if $dimension == full {
    height: $size;
    width: $size;
  } @else {
    @error "Invalid dimension specified. Please use 'width' or 'height'.";
  }
}

@mixin cursor($type) {
  cursor: $type;
}

@mixin border-radius($type, $direction: '') {
  @if $direction == '' {
    border-radius: map-get($border-radius-map, $type) !important;
  } @else {
    #{$direction}-radius: map-get($border-radius-map, $type) !important;
  }
}
